<app-header></app-header>

<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" #inputElRef>
    </mat-form-field>
  </div>

  <mat-table matSort #table [dataSource]="dataSource" (matSortChange)="sortData($event)" (click)="applyFilter($event.target.value)">

    <!-- code Column -->
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> code </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
    </ng-container>

    <!-- make Column -->
    <ng-container matColumnDef="make" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> make </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.make}} </mat-cell>
    </ng-container>

    <!-- model Column -->
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef mat-sort-header> model </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>


    <!-- tar_data Column -->
    <ng-container matColumnDef="tar_code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> tar_code </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tar_code}} </mat-cell>
    </ng-container>

    <!-- tar_data Column -->
    <ng-container matColumnDef="tar_data">
      <mat-header-cell *matHeaderCellDef mat-sort-header> tar_data </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tar_data}} </mat-cell>
    </ng-container>

    <!-- tar_minutes Column -->
    <ng-container matColumnDef="tar_minutes">
      <mat-header-cell *matHeaderCellDef mat-sort-header> tar_minutes </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tar_minutes}} </mat-cell>
    </ng-container>

    <!-- tar_name Column -->
    <ng-container matColumnDef="tar_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> tar_name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tar_name}} </mat-cell>
    </ng-container>

    <!-- tar_sms Column -->
    <ng-container matColumnDef="tar_sms">
      <mat-header-cell *matHeaderCellDef mat-sort-header> tar_sms </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tar_sms}} </mat-cell>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>
